@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

*{
  outline:none;
  font-family:Cabin,sans-serif;
  border-width: 0px;
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:var(--medium);
}
html,body{
  width:100%;
  height:100%;
  margin:0;
  overflow: auto;
}
body{
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color:var(--light);
}
:root{
 --border : 3px solid var(--light);
 --dark : #000000;
 --light:#fca311;
 --medium:#e5e5e5;
}
h1{
  text-align: center;
  font-size: 60px;
}
#button-div{
  margin:auto;
  text-align: center;
  margin:40px 0;
}
#button-div *{
 width:150px;
 height:70px;
 margin:15px 25px; 
 background-color: var(--light);
 color:var(--dark);
 font-family: Cabin,sans-serif
 font-weight: bolder;
 font-size: 40px;
 border-radius: 15px;
 cursor:pointer;
 border:none;
 box-shadow: 0 9px var(--medium) ;
}
#button-div button:hover{
  background-color: #f48c06;
}
#button-div button:active , .clicked {
  background-color: #f48c06;
  transform: translateY(5px);
  box-shadow: 0 5px rgb(173, 173, 173) !important;
}

main{
  display:grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  margin:auto;
  margin-top:10px;
  align-content: center;
  grid-column-gap: 0;
}
main *{
  width: 150px;
  height: 150px;
  border:var(--border);
  background-color: transparent;
  font-size: 6rem;
  font-weight: bolder;
  font-family: cursive;
}
main button:hover{
  color:rgba(229, 229, 229,0.5);
}

#zero, #one ,#two{
  border-top: none;
}
#six, #seven, #eight{
  border-bottom:none;
}
#zero,#three,#six{
  border-left:none;
}
#two, #five ,#eight{
  border-right:none;
}
#restart-button{
  display: inline-block;
  margin-left:50%;
  transform: translate(-50%);
  margin-top: 50px;
  font-size: 30px;
  width:50%;
  background: none;
  letter-spacing: 5px;
  font-weight: bolder;
  cursor:pointer
}
#restart-button:hover{
  transition-duration: 0.2s;
  transform: translate(-50%) scale(0.9);
}
footer{
  display: block;
  position: relative;
  margin-top:60px;
  bottom:0;
  text-align: end;
}

main>button:focus{
  border:var(--border);
}
#result{
  color:black;
  font-size: 100px;
  text-align: center;
  top:50%;
  transform: translateY(50%);
}
#result-div{
  background-color:rgba(229, 229, 229,0.95);
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
}

.show{
  transform: translate(-50%,-50%) scale(1) !important;
}
